/*Film Menuen*/
.root{
	-fx-background-image: url(tww.png);
	-fx-background-repeat: no-repeat;
	-fx-background-size: stretch;
}
.button{
	-fx-background-color: #00dbbe;
	-fx-background-radius: 10;
	-fx-border-color: #00ff72;
	-fx-border-radius: 10;
	-fx-font-size: 50.0;
	-fx-font-family: 'Edwardian Script ITC';
	-fx-min-height: 100.0;
	-fx-min-width: 300.0;
	-fx-max-height: 200;
	-fx-max-width: 400;
	-fx-text-fill: #004c50;
}
.button:pressed{
	-fx-background-color: #00ff72;
	-fx-background-radius: 10;
}