/*InsertFilm klassen*/
.root{
	-fx-background-image: url(st3.jpg);
	-fx-background-size: stretch;
}
.button {
	-fx-background-color: #330170;
	-fx-background-radius: 10;
	-fx-border-color: #7200ff;
	-fx-border-radius: 10px;
	-fx-font-size: 40.0;
	-fx-font-family: 'Vladimir Script';
	-fx-min-height: 90.0;
	-fx-min-width: 350.0;
	-fx-max-height: 250;
	-fx-max-width: 500;
	-fx-text-fill: #ffe7c1;
}
.button:pressed{
	-fx-background-color: #7200ff;
}
.label{
	-fx-text-fill: #260060;
	-fx-font-family: 'Vladimir Script';
	-fx-font-size: 40.0;
	-fx-min-width: 350.0;
	-fx-max-width: 400; 
	-fx-min-height: 45.0;
	-fx-max-height: 55;
}
.text-field{
	-fx-background-color:transparent;
	-fx-border-color: #7200ff;
	-fx-border-radius: 10;
	-fx-text-fill: #ffffff;
	-fx-font-family: 'Segoe Script';
	-fx-font-size: 30.0;
	-fx-min-width: 350.0;
	-fx-max-width: 360;
	-fx-min-height: 30.0;
	-fx-max-height: 40;
}
.text-field:focused{
	-fx-background-color: #c199ff;
	-fx-background-radius: 10;
}
#subsproglabel{
	-fx-text-fill: #ffffff;
	-fx-font-family: 'Segoe Script';
	-fx-font-size: 10.0;
}
#sprogsublabel{
	-fx-text-fill: #ffffff;
	-fx-font-family: 'Segoe Script';
	-fx-font-size: 10.0;
}