/*InsertFilm klassen*/
.root{
	-fx-background-image: url(tvdgodt.jpg);
	-fx-background-size: stretch;
}
.button {
	-fx-background-color: #8c0000;
	-fx-background-radius: 10;
	-fx-border-color: #d60808;
	-fx-border-radius: 10px;
	-fx-font-size: 40.0;
	-fx-font-family: 'Vladimir Script';
	-fx-min-height: 100.0;
	-fx-min-width: 350.0;
	-fx-max-height: 250;
	-fx-max-width: 500;
	-fx-text-fill: #ffe7c1;
}
.label{
	-fx-text-fill: #d60808;
	-fx-font-family: 'Vladimir Script';
	-fx-font-size: 40.0;
	-fx-min-width: 350.0;
	-fx-max-width: 400; 
	-fx-min-height: 45.0;
	-fx-max-height: 55;
}
.text-field{
	-fx-background-color:transparent;
	-fx-border-color: #d60808;
	-fx-border-radius: 10;
	-fx-text-fill: #d60808;
	-fx-font-family: 'Segoe Script';
	-fx-font-size: 30.0;
	-fx-min-width: 350.0;
	-fx-max-width: 360;
	-fx-min-height: 45.0;
	-fx-max-height: 55;
}
.text-field:focused{
	-fx-background-color: #bac2fc;
	-fx-background-radius: 10;
}