/*Program klassen*/
.root{
	-fx-background-image: url(bbf.png);
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}
.button{
	-fx-background-color: #000000;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-font-size: 50.0;
	-fx-font-family: 'Edwardian Script ITC';
	-fx-min-height: 100.0;
	-fx-min-width: 300.0;
	-fx-max-height: 200;
	-fx-max-width: 400;
	-fx-text-fill: white;
}
.button:pressed{
	-fx-background-color: #404240;
	-fx-background-radius: 10;
}