/*Search Serie klassen */
.root{
	-fx-background-image: url(tvd.jpg);
	-fx-background-size: stretch;
}
.button {
	-fx-background-color: #edcd00;
	-fx-background-radius: 10;
	-fx-border-color: #f9ff91;
	-fx-border-radius: 10px;
	-fx-font-size: 40.0;
	-fx-font-family: 'Vladimir Script';
	-fx-min-height: 60.0;
	-fx-max-height: 200;
	-fx-min-width: 400.0;
	-fx-max-width: 500;
	-fx-text-fill: #726b00;
}
.button:pressed{
	-fx-background-color: #f9ff91;
}
.label{
	-fx-text-fill: #f9ff91;
	-fx-font-family: 'Vladimir Script';
	-fx-font-size: 40.0;
	-fx-background-radius: 10;
	-fx-min-width: 300;
}
.text-field{
	-fx-background-color: transparent;
	-fx-background-radius: 10;
	-fx-border-color: #726b00;
	-fx-border-radius: 10;
	-fx-text-fill: #726b00;
	-fx-font-family:'Segoe Script';
	-fx-font-size: 30.0;
	-fx-min-width: 400.0;
	-fx-max-width: 500; 
	-fx-min-height: 60.0;
	-fx-max-height: 90;
}
.text-field:focused{
	-fx-background-color: #f9ff91;
}
/* Table Viewet */
.table-view .column-header-background .label{
	-fx-font-family:'Segoe Script';
    -fx-text-fill: #726b00;
    -fx-font-size: 12;
}
.table-view .column-header {
    -fx-background-color:#edcd00;
    -fx-border-color: #ffffff;
}
.table-view .table-cell{
    -fx-text-fill:#726b00;
}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #fcef2a;
}
.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #edcd00;
}
.table-row-cell:selected {
    -fx-background-color: #f9ff91;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
}