/*Search Serie klassen */
.root{
	-fx-background-image: url(tvdstripe.jpg);
	-fx-background-size: stretch;
}
.button {
	-fx-background-color: #01114c;
	-fx-background-radius: 10;
	-fx-border-color: #0040a8;
	-fx-border-radius: 10px;
	-fx-font-size: 40.0;
	-fx-font-family: 'Vladimir Script';
	-fx-min-height: 100.0;
	-fx-min-width: 300.0;
	-fx-text-fill: #ffe7c1;
}
#sogLabel{
	-fx-text-fill: #ffe7c1;
	-fx-font-family: 'Vladimir Script';
	-fx-font-size: 40.0;
}
#sogTextField{
	-fx-background-color: #01114c;
	-fx-background-radius: 10;
	-fx-text-fill: #ffe7c1;
	-fx-font-family:'Segoe Script';
	-fx-font-size: 30.0;
	-fx-min-width: 400.0;
	-fx-max-width: 500; 
	-fx-min-height: 60.0;
	-fx-max-height: 80;
}