/*Program klassen*/
.root{
	-fx-background-image: url(tvdgodt.jpg);
	-fx-background-repeat: no-repeat;
	-fx-background-size: stretch;
}
.button{
	-fx-background-color: #206602;
	-fx-background-radius: 10;
	-fx-border-color: #39af07;
	-fx-border-radius: 10;
	-fx-font-size: 50.0;
	-fx-font-family: 'Edwardian Script ITC';
	-fx-min-height: 100.0;
	-fx-min-width: 300.0;
	-fx-max-height: 200;
	-fx-max-width: 400;
	-fx-text-fill: white;
	
}